* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.btn {
    color: white;
    border-radius: 20px;
}

/*tophead section start*/
.backgroundhead {
    background-color: #fff;
    padding-top: 12px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 4px 2px rgb(214, 211, 211);
}

.tophead {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

.backgroundhead a {
    font-size: 13px;
    color: hwb(120 3% 54%);
}

.backgroundhead a:hover {
    opacity: 0.6;
}

.backgroundhead li .btn {
    color: white;
    border-radius: 20px;
}



@media only screen and (max-width:990px) {
    .backgroundhead {
        display: none;
    }
}

/*tophead section end*/
/*Navbar Start*/
@media screen and (max-width:750px) {
    #mycontainer11 {
        background-color: #000;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    color: rgb(0, 0, 0);
    background-color: #f5f1f1;
    border-radius: 15px;
    border-bottom: 3px solid green;
}

.navbar {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

.nav-item .py-1 {

    color: white;
    border-radius: 20px;
    background-color: hwb(120 3% 54%)
}

/*Navbar End*/
/* contact image start */
.contactimg p {
    position: absolute;
    top: 30%;
    text-align: center;
    left: 45%;


}

/* contact image end */

/* Contact section start */
.contact #myrow {
    padding: 65px 30px;
    border-bottom: 3px solid rgb(20, 101, 20);

    color: rgb(77, 74, 74);
    letter-spacing: 1px;
    background-color: #fff;
    border-top: 3px solid rgb(20, 101, 20);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 2px rgb(224, 222, 222);
}

.contact .box {
    padding: 30px;
    border-bottom: 3px solid rgb(20, 101, 20);

    color: rgb(77, 74, 74);
    letter-spacing: 1px;
    background-color: #fff;
    border-top: 3px solid rgb(20, 101, 20);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 2px rgb(224, 222, 222);
}

.contact .box .location #icon {

    padding: 10px;
    color: green;
    transition: all 0.7s ease-in;
    box-shadow: 0 0 1px 1px rgb(176, 172, 172);
}

.contact .box .location:hover>#icon {
    color: #ffffff;
    background-color: #089408;
}

.contact #myrow input {
    padding: 10px;
    box-shadow: 0px 0px 1px 1px rgb(182, 179, 179);
    border-radius: 20px;
}

.contact #myrow select,
.contact #myrow textarea {
    box-shadow: 0px 0px 1px 1px rgb(182, 179, 179);
    border-radius: 20px;
}

.contact .box,
.contact #myrow:hover {
    border-bottom: 3px solid green;
    transform: translateY(-5px);
}

/* Contact section end */

/*  footer Secion start */
footer {
    background-color: black;
    color: white;
}

footer #myicon {
    background-color: rgb(13, 124, 13);
    transition: all 0.4s;
}

footer #myicon:hover {
    background-color: rgb(139, 134, 134);
}

footer #mycol2 a {
    font-size: 14px;


}

footer #mycol2 a:hover {

    letter-spacing: 1px;

}

/*  footer Secion end */